@import "tailwindcss";

:root {
  --background: #eee;
  --foreground: #4d4d4f;
}

@theme inline {
  --font-readex-pro: "Readex Pro", "sans-serif";
  --color-davys-gray: #4D4D4F;
  --color-cerulean: #4281A4;
  --color-mounbatten-pink: #A07178;
  --color-asparagus: #7A9B76;
  --color-anti-flash-white: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4d4d4f;
    --foreground: #eee;
  }
}

body {
  font-family: var(--font-display);
}
